modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3002

[[ports]]
localPort = 3002
externalPort = 3003

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 24678
externalPort = 4200

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
RENTCAST_API_KEY = "ef761ba76a2a4d158e8f925850ab6e18"
TWILIO_PHONE_NUMBER = "+18175183845"
VAPID_PUBLIC_KEY = "BLFT-ann2VZM22sX1Run9LwKA9-o4SvIQreu-zDUphuOug7to6zumZhvPeU2-Z_fo1xPvBlh1GQ4mtvZHMs2v6Q"
VAPID_PRIVATE_KEY = "DiLKwryNpdYx-tJTWktsG2eWSHZHTmVWHSOb-brCYtI"
VAPID_SUBJECT = "mailto:admin@homebase.app"
DOCUSIGN_USER_ID = "365bec07-5197-40ab-ac32-200f020d6507"
DOCUSIGN_ACCOUNT_ID = "df17cc33-6028-4ea5-93e6-f518faa85ba9"
DOCUSIGN_BASE_URL = "https://demo.docusign.net"

[agent]
integrations = ["stripe:1.0.0"]
